*{
margin: 0;
padding: 0;
box-sizing: border-box;
}
@font-face {
font-family: 'ibm2';
  src: url("../fonts/Web437_IBM_BIOS.woff");
  }
  
body  {
background: black;
  margin-right: 5%;
  margin-left: 5%;
  text-align: left;
  font-weight: normal ;
  line-height: 1.5;
  color : #b0acac;
	font-family: 'ibm2'; 
	  font-size: 11px;
}

header {
background:black;
}


.contenedor{
padding: 10px 0;
width: 90%;
max-width: 1500px;
margin: auto;
overflow: hidden;
background: black;
font-size: 50 ;
}



h2{
	color: yellow;
  text-align: justify;
  font-weight: normal;
  line-height: 1.3;
	font-family: 'ibm2'; 
	  font-size: 12px;
}



a:link {
  color: white;
  background-color: transparent;
  text-decoration: none;
}
a:visited {
  color: white;
  background-color: transparent;
  text-decoration: none;
}
a:hover {
  color: white;
  background-color: red;
  text-decoration: underline;
}

a:active {
  color: red;
  background-color: transparent;
  text-decoration: underline;
}


